section.key_features#key_features
	h2.center_header=key_features.header
	.key_features-inner
		p.key_features-title=key_features.title
	.key_features-inner
		+insert-image('screen.png', 'screen', 'feature-image')
		- var n = 0;
		while n < 3
			- n++
			.key_features-line
				- var m = 0;
				while m < 2
					.key_features-item
						i.icon(class="icon-feature"+(n + m))
						h3.key_features-item-header=key_features.feature_header
						p.key_features-item-text=key_features.feature_text
					- m++


