section.key_features#key_features
	h2.center_header.wow.fadeInUp=key_features.header
	.key_features-inner.wow.fadeInUp
		p.key_features-title=key_features.title
	.key_features-inner.key_features-wrap
		.key_features-image-wrap
			+insert-image('screen.png', 'screen', 'key_features-image  wow fadeInUp')
		- var n = 0;
		while n < 2
			- n++
			- var styleClass = n==1 ? "fadeInLeft" : "fadeInRight"
			.key_features-row.wow(class="key_features-row"+ n + " " + styleClass )
				- var m = 0;
				while m < 3
					.key_features-item
						i.key_features-item-icon.icon(class="icon-feature"+(n*n + m))
						h3.key_features-item-header=key_features.feature_header
						p.key_features-item-text=key_features.feature_text
					- m++


