section.testimonials#testimonials
	h2.center_header=testimonials.header
	.testimonials_inner
		ul.testimonials-slider#testimonials_slider
			-var ts = 0;
			while ts < 4
				- ts++
				li.testimonials-slider-item
					.testimonials-image_wrap
						+insert-image('testimnial_img.jpg', 'testimnial', 'testimonials-image')
					p.testimonials-name=testimonials.name
					p.testimonials-company=testimonials.company
					.testimonials-text_wrap
						p.testimonials-text=testimonials.text
