mixin menu(baseClass, menuData)
	-var menuItems = menuData || menu
	ul(class=baseClass+'-list')
		each val in menuItems
			li(class=baseClass+'-list_item')
				a(href="#" class=baseClass+'-list_item-link')=val