h1,h2, h3, h4, h5, h6
	font-weight: 700
	font-family: raleway ,sans-serif

.center_header
	position: relative
	font-size: 28px
	font-weight: bold
	text-transform: uppercase
	color: $mountain-meadow
	position: relative
	text-align: center
	padding: 20px 0 0
	&:after
		@extend %icon
		content: $icon-android
		// position: absolute
		// bottom: 0
		// left: 0
		// right: 0
		padding: 10px 0 7px
		display: block
		font-size: 20px
		color: #fff
		line-height: 1