section.video#video
	.video-image
		+insert-image("video.jpg", "video","video")
	.video-text
		.video-header=video.header
		.video-title=video.title
		.video-platform_icons
			.video-platform_icon.icon.icon-apple
			.video-platform_icon.icon.icon-android
			.video-platform_icon.icon.icon-windows