section.video#video
	.video-inner
		.video-image_wrap
			+insert-image("video.jpg", "video","video-image  wow zoomIn")
		.video-text
			h2.video-header.wow.fadeInUp=video.header
			p.video-title.wow.fadeInUp=video.title
			.video-platform_icons.wow.fadeInUp
				i.video-platform_icon.icon.icon-apple
				i.video-platform_icon.icon.icon-android
				i.video-platform_icon.icon.icon-windows