section.video#video
	.video-inner
		.video-image_wrap
			+insert-image("video.jpg", "video","video-image")
		.video-text
			h2.video-header=video.header
			p.video-title=video.title
			.video-platform_icons
				i.video-platform_icon.icon.icon-apple
				i.video-platform_icon.icon.icon-android
				i.video-platform_icon.icon.icon-windows